{% extends "base-dashboard.html" %} {% load static %}

{% block content %}
<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3"></h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'babi' %}" class="btn btn-danger me-2" style="margin-top: -20px;">Kembali</a>
                <hr>
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="card-title" style="margin-right: 10px;">Edit Babi</div>
                    </div>
                    
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="nama">Nama Babi</label>
                                <input type="text" class="form-control" id="nama" name="nama_babi" placeholder="Nama Babi" value="{{ babi }}">
                                <small id="namaHelp" class="form-text text-muted">Nama babi harus berbeda.</small>
                            </div>

                            <div class="form-group">
                                <label for="nomor">Nomor Kandang</label>
                                <select class="form-select select2" name="pk_kandang" id="pk_kandang" style="width: 100%;">
                                    <option value="-">-</option>
                                    {% for kandang in all_kandangs %}
                                        {% if babi.kandang == kandang %}
                                            <option value="{{ kandang.pk }}" selected>Kandang {{ kandang }}</option>
                                        {% else %}
                                            <option value="{{ kandang.pk }}">Kandang {{ kandang }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="d-flex justify-content-end mt-3">
                                <button type="submit" name="submit_type" value="babi" class="btn btn-success">Simpan</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="card-title" style="margin-right: 10px;">Edit Laporan Bulanan | {% if status == 'Belum' %}<span style="background-color: #FF474C; border-radius: 5px; color: white">{{ status }}</span>{% elif status == 'Sudah' %}<span style="background-color: #90EE90; border-radius: 5px; color: white">{{ status }}</span>{% endif %}</div>
                    </div>
                    
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="berat_badan">Berat Badan</label>
                                <input type="number" class="form-control" id="berat_badan" name="berat_badan_babi" placeholder="0" value="{{ laporan.berat_badan }}" required>
                                <small id="berat_badanHelp" class="form-text text-muted">Tulis angkanya saja (KG).*</small>
                            </div>

                            <div class="form-group">
                                <label for="obat">Status Obat</label>
                                <select class="form-select" name="obat" id="obat" style="width: 100%;">
                                    <option value="1" {% if laporan.obat %}selected{% endif %}>Sudah</option>
                                    <option value="2" {% if not laporan.obat %}selected{% endif %}>Belum</option>
                                </select>
                                <small id="obatHelp" class="form-text text-muted">Pilih salah satu.*</small>
                            </div>

                            <div class="form-group">
                                <label for="kesehatan">Status Kesehatan</label>
                                <select class="form-select" name="kesehatan" id="kesehatan" style="width: 100%;">
                                    <option value="1" {% if not babi.sakit %}selected{% endif %}>Sehat</option>
                                    <option value="2" {% if babi.sakit %}selected{% endif %}>Sakit</option>
                                </select>
                                <small id="kesehatanHelp" class="form-text text-muted">Pilih salah satu.*</small>
                            </div>

                            <div class="form-group">
                                <label for="harga">Harga Babi</label>
                                <input type="text" class="form-control" id="harga" name="harga_babi" placeholder="0" value="{{ babi.harga_format }}" required>
                                <small id="hargaHelp" class="form-text text-muted">Tulis angkanya saja (Rp).*</small>
                            </div>

                            <div class="d-flex justify-content-end mt-3">
                                <button type="submit" name="submit_type" value="laporan" class="btn btn-success">Simpan</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}

{% block script %}
<script>
document.getElementById('harga').addEventListener('input', function (e) {
    let value = e.target.value.replace(/\D/g, ''); 
    let formatted = value.replace(/\B(?=(\d{3})+(?!\d))/g, '.'); 
    e.target.value = formatted;
});
</script>
{% endblock script %}